{% extends 'records/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<div class="container">
    <h4 class="text-center mt-5 mb-5">Formularz bankowy</h4>
    {% if form.errors %}
    <form method="POST" action="{% url 'bank-form' %}">
        {% csrf_token %}
        {% crispy form %}
        <p class="text-muted small">Wartosci nie moga byc mniejsze od zera</p>
    </form>
    {% else %}
    <div>
        <h2>Dane wysciowe</h2>
        <p>Wynik z tytułu odsetek: {{wynik}}</p>
        <p>Średnia wartość aktywów oprocentowanych w roku obrotowym: {{srednia}}</p>
        <p>Koszty działania: {{koszty}}</p>
        <p>Przychody:{{przychody}} </p>
        <p>Zysk (strata) netto: {{zysk_strata_netto}}</p>
        <p>Aktywa razem: {{aktywa_razem}}</p>
        <p>Kapitał (fundusz) własny: {{kapital_fundusz_wlasny}}</p> 
    </div> 
    <div>
        <h2>Wyniki</h2>
        <p>Marza odsetkowa netto: {{marza_odsetkowa_netto}} %</p>
        <p>Koszty/dochody: {{koszty_dochody}} %</p>
        <p>Rentownosc aktywow: {{rentownosc_aktywow}} %</p>
        <p>Rentownosc kapitalu wlasnego: {{rentownosc_kapitalu_wlasnego}} %</p>
    </div>
    {% endif %}
</div>

{% endblock%}