{% extends 'records/base.html' %}
{% load static %}
{% block content%}
<div class="container">
    <div>
        <h2>Dane wysciowe</h2>
        <p>Zysk (strata) z działalności operacyjnej: {{zysk_strata_z_dzialalnosci_operacyjnej}}</p>
        <p>Przychody netto ze sprzedaży i zrównane z nimi: {{przychody_netto}}</p>
        
        <p>Pozostałe przychody operacyjne: {{pozostale_przychody_operacyjne}}</p>
        <p>Zysk (strata) brutto: {{zysk_strata_brutto}}</p>
        <p>Przychody finansowe: {{przychody_finansowe}}</p> 
        <p>Zysk (strata) netto: {{zysk_strata_netto}}</p>
        <p>Aktywa razem: {{aktywa_razem}}</p>
        <p>Kapitał (fundusz) własny: {{kapital_fundusz_wlasny}}</p>
    </div> 
    <div>
        <h2>Wyniki</h2>
        <p>Marza operacyjna: {{marza_operacyjna}} %</p>
        <p>Marza zysku brutto: {{marza_zysku_brutto}} %</p>
        <p>Rentownosc aktywow: {{rentownosc_aktywow}} %</p>
        <p>Rentownosc kapitalu wlasnego: {{rentownosc_kapitalu_wlasnego}} %</p>
    </div>
</div>
{% endblock%}