{% extends 'records/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center"> Kalkulator wskaźników finansowych</h2>
      <div class="form-group mt-3 text-center">
        <label for="type">Wybierz rodzaj podmiotu dla którego przygotowujesz deklarację TPR-C</label>
      </div>
      <div id="type-pick"class="container mt-3 mb-3 text-center">
        <div class="form-check-inline">
            <input class="btn btn-outline-primary btn-lg" type="button" name="institution-type" id="exampleRadios1" value="Inny podmiot">
        </div>
        <div class="form-check-inline">
            <input class="btn btn-outline-primary btn-lg" type="button" name="institution-type" id="exampleRadios2" value="Zakład ubezpieczeń / reasekuracji">
        </div>
        <div class="form-check-inline">
            <input class="btn btn-outline-primary btn-lg" type="button" name="institution-type" id="exampleRadios3" value="Bank">
        </div>
      </div>

      <div class="container mt-3 mb-3 text-center" id="rzis" hidden>
        <p>Wybierz właściwy wariant RZiS analizowanego podmiotu</p>
        <div class="form-check-inline">
          <input class="btn btn-outline-primary btn-lg" type="button" name="rzis-type" id="comparison-pick" value="Wariant porównawczy">
        </div>
        <div class="form-check-inline">
          <input class="btn btn-outline-primary btn-lg" type="button" name="rzis-type" id="calculation-pick" value="Wariant kalkulacyjny">
        </div>
      </div>

      <div id="comparison-form" hidden="">
        <form method="POST" action="{% url 'comparison-form' %}">
          {% csrf_token %}
          <p class="text-muted small text-center">Wartości nie mogą być mniejsze od zera</p>
          {% crispy comparison_form %}
          <br>
        </form>
      </div>
      <div id="calculation-form" hidden="">
        <form method="POST" action="{% url 'calculation-form' %}">
          {% csrf_token %}
          <p class="text-muted small text-center">Wartości nie mogą być mniejsze od zera</p>
          {% crispy calculation_form %}
          <br>
        </form>
      </div>
      <div id="bank-form" hidden="">
        <form method="POST" action="{% url 'bank-form' %}">
          {% csrf_token %}
          <p class="text-muted small text-center">Wartości nie mogą być mniejsze od zera</p>
          {% crispy bank_form %}
          <br>
        </form>
      </div>
      <div id="zaklad-form" hidden="">
        <form method="POST" action="{% url 'zaklad-form' %}">
          {% csrf_token %}
          <p class="text-muted small text-center">Wartości nie mogą być mniejsze od zera</p>
          {% crispy zaklad_form %}
          <br>
        </form>
      </div>

    <script src="{% static 'records/app.js'%}"></script>
  </div>
{% endblock content%}